html {
    background-color: rgba(27, 38, 54, 1);
    text-align: center;
    color: white;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {
    background: var(--neutral-darker);
    border-radius: 2px;
}
::-webkit-scrollbar-thumb {
    background: var(--neutral);
    border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--neutral-light);
}

body {
    margin: 0;
    color: white;
    font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

@font-face {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    src: local(""),
    url("assets/fonts/nunito-v16-latin-regular.woff2") format("woff2");
}

#app {
    width: 100vw;
    height: 100vh;
    text-align: center;
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: minmax(0, 1fr);
}

:root {
    --primary-h: 152;
    --primary-s: 50%;
    --primary-l: 25%;
    --secondary-h: 208;
    --secondary-s: 100%;
    --secondary-l: 25%;
    --neutral-h: 0;
    --neutral-s: 0%;
    --neutral-l: 27%;
    /**/
    --lighten: 25%;
    --darken: 15%;
    --darker: 20%;
    --text: 90%;
    /**/
    --primary: hsl(var(--primary-h), var(--primary-s), var(--primary-l));
    --primary-light: hsl(var(--primary-h), var(--primary-s), calc(var(--lighten) + var(--primary-l)));
    --primary-dark: hsl(var(--primary-h), var(--primary-s), calc(var(--primary-l) - var(--darken)));
    --primary-text: hsl(var(--primary-h), var(--primary-s), var(--text));
    --secondary: hsl(var(--secondary-h), var(--secondary-s), var(--secondary-l));
    --secondary-light: hsl(var(--secondary-h), var(--secondary-s), calc(var(--lighten) + var(--secondary-l)));
    --secondary-dark: hsl(var(--secondary-h), var(--secondary-s), calc(var(--secondary-l) - var(--darken)));
    --secondary-text: hsl(var(--secondary-h), var(--secondary-s), var(--text));
    --neutral: hsl(var(--neutral-h), var(--neutral-s), var(--neutral-l));
    --neutral-light: hsl(var(--neutral-h), var(--neutral-s), calc(var(--lighten) + var(--neutral-l)));
    --neutral-dark: hsl(var(--neutral-h), var(--neutral-s), calc(var(--neutral-l) - var(--darken)));
    --neutral-darker: hsl(var(--neutral-h), var(--neutral-s), calc(var(--neutral-l) - var(--darker)));
    --neutral-text: hsl(var(--neutral-h), var(--neutral-s), var(--text));
}